@font-face {
  font-family: Hatton;
  src: url(../fonts/pp_hatton_medium.otf);
}

@font-face {
  font-family: Hatton Light;
  src: url(../fonts/pp_hatton_ultralight.otf);
}

.container {
  font-family: Hatton Light;
  color: #573C09 !important;
}


hr{
  color: black;
}

 h1 {
  font-family: Hatton !important;;
  margin-top: 1rem;
}



#ubicacion {
  color: #ffffff;
  background: #80AB9F ;
  border-radius: 8px;
}



.row {
  justify-content: space-between;
}



input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFF0 !important;
  border: 1px solid #80AB9F !important;
  border-radius: 8px;
  padding: 0.5rem;
  border: none;
  margin-top: 1rem;
  margin-left: 0.5em !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus {
  background-color: #FFFFF0 !important;
  border: 1px solid #999;
  outline: none;
}

.formularios{
  color:  #ffffff !important;
  text-decoration: underline !important;
}

.formularios:hover {
  color: #573C09 !important;
}


button{
  font-family: Hatton !important;
  color: #573C09 !important;
  background-color: #FFFFF0 !important;
  text-align: center;
  width: 15% !important;
  border: 2px solid #80AB9F !important;
}

button:hover{
  background-color: #80AB9F   !important;
  color: #FFFFF0!important;
  transition: all 0.3s ease-in-out;
}

.btn-min-width{
  min-width: 100px;
}
